body {
    background-color: black;
}


.tytul {
    color: white; 
    text-align: center;
}

p {
    color:white;
    text-align: center;
}
.obrazek {
    text-align: center;
}
img {
    text-align: center;
    margin: 1px;
    border: 5px solid white;
    padding:1px;
}